@import "../../../assets/styles/vars.scss";
.total-summary {
  display: flex;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: $label;

  .automated-type {
    width: 75%;
  }
  .counts {
    width: 15%;
  }
  .price {
    width: 20%;
    text-align: right;
  }
}
