.coming-soon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;

  z-index: 10;
  background-color: rgba(white, 0.5);
  backdrop-filter: blur(3px);
}
