@import "../../assets/styles/vars.scss";

.menu {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0px 8px 0px 16px;
  height: 100%;
  width: $sidebar-width;
  background-color: white;
  .logo {
    margin-left: 32px;
    margin-top: 22px;
    margin-bottom: 52px;
    display: block;
    img {
      width: 66px;
      height: 36px;
    }
  }
  .menu-wrapper {
    background-color: white;
  }
  .link-item {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: rgba(19, 22, 36, 0.6);
    letter-spacing: 0.1px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    border: none;

    &.active-link {
      color: $primary;
      background: #f5f7fa;
      border-radius: 10px;
    }
  }
  .logout {
    position: absolute;
    bottom: 40px;
  }
}
