.detail-item {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
  .detail-item-label {
    color: rgba(19, 22, 36, 0.6);
    margin-bottom: 4px;
  }
  .detail-item-value {
    color: #131624;
  }
}
